.row {
    max-width: $grid-width; // standard value 1140px
    background-color: #eee;
    margin: 0 auto;
    
    // apply margin to everything except last child
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}